<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<ol class="breadcrumb">
    <li><a href="#">Estoque</a></li>
    <li class="active">Entrada</li>
</ol>

<div class="panel panel-default">

    <div class="panel-heading">

        <div class="row">
            
            <div class="margin-bottom-sm col-sm-6 col-lg-6">
                <div class="input-group">
                    <a ui-sref="entrada.new" class="btn btn-primary btn-success pull-left">
                        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Adicionar
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-6">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="keywords = ''; $root.$broadcast('updateList')" type="button">
                            &nbsp;<span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </span>
                    <input type="text" id="busca" class="form-control collapse" placeholder="Pesquisa" ng-model="keywords" ng-enter="$root.$broadcast('updateList')">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-model="keywords" ng-click="$root.$broadcast('updateList')" type="button">
                             &nbsp;<span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>

    </div>

    <div class="panel-collapse">
        <!-- Table -->
        
        <div class="table-responsive scrollable scroll-y" style="overflow: scroll !important">
            <table ng-table="EntradaList" class="table table-striped ng-table-responsive">
                <tr ng-repeat="list in $data">
                    <td width="50" style="text-align: left" data-title="'#'">{{list.pkEntrada}}</td>
                    <td data-title="'Fornecedor'"><a href="#/entrada/edit/{{list.pkEntrada}}">{{list.CadFornecedor.xNome}}</a></td>
                    <td width="200" data-title="'Abertura'">{{list.dhabertura.date | cmdate:'dd/MM/yyyy HH:mm'}}</td>
                    <td width="200" data-title="'Fechamento'">{{list.dhfinalizacao.date | cmdate:'dd/MM/yyyy HH:mm'}}</td>
                    <td width="200" data-title="'Cancelamento'">{{list.dhcancelamento.date | cmdate:'dd/MM/yyyy HH:mm'}}</td>
                    <!--<td>
                        <a class="btn btn-danger"  ng-click="deleteMovie(movie)">Delete</a>
                    </td>-->
                </tr>
            </table>
        </div>

    </div>
</div>