<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<ol class="breadcrumb">
  <li><a href="#">Estoque</a></li>
  <li class="active">Itens</li>
</ol>

<div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">

            <div class="row">

                <div class="margin-bottom-sm col-sm-6 col-lg-6">
                    <div class="input-group">
                        <a ui-sref="estoque.new" class="btn btn-primary btn-success pull-left">
                            <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Adicionar
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="keywords = ''; $root.$broadcast('updateList')" type="button">
                                &nbsp;<span class="glyphicon glyphicon-refresh"></span>
                            </button>
                        </span>
                        <input type="text" id="busca" class="form-control collapse" placeholder="Pesquisa" ng-model="keywords" ng-enter="$root.$broadcast('updateList')">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" ng-model="keywords" ng-click="$root.$broadcast('updateList')" type="button">
                                &nbsp;<span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

        </div>

        <!-- Table -->
        <div class="table-responsive">
            <table ng-table="EstoqueList" class="table table-striped ng-table-responsive">
                <tr ng-repeat="list in $data">
                    <td width="50" style="text-align: left" data-title="'#'">{{list.PK_item}}</td>
                    <td width="100" data-title="'Código'">{{list.codigo}}</td>
                    <td data-title="'Descrição'">
                        <a title="Editar" href="#/estoque/edit/{{list.PK_item}}">
                            {{list.xProd}} <i class="mdi-action-open-in-new"></i>
                        </a>
                    </td>
                    <td width="100" data-title="'Quantidade'">{{list.quantidade | cmddec }}</td>
                    <td width="100" data-title="'Preço'">{{list.vUnTrib | cmdcur}}</td>
                    <!--<td>
                        <a class="btn btn-danger"  ng-click="deleteMovie(movie)">Delete</a>
                    </td>-->
                </tr>
            </table>
        </div>

    </div>
</div>