<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<ol class="breadcrumb">
  <li><a href="#">Cadastros</a></li>
  <li class="active">Clientes</li>
</ol>

<div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading clearfix">

            <!-- Botão Adicionar -->
            <div class="btn-toolbar pull-left">
                <a ui-sref="customers.new" class="btn btn-primary btn-primary pull-left">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Adicionar
                </a>
            </div>
            
            <!-- Search input -->
            <div class="btn-toolbar pull-right" style="margin-left: 5px;">
                <input type="text" class="form-control pull-right" placeholder="Search">
            </div>

            <!-- Single button -->
            <div class="btn-group pull-right test">
                <button type="button" style="height: 34px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="glyphicon glyphicon-filter"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>

        </div>
        <!--<div class="container-fluid">
            <div class="table table-striped gridStyle" ng-grid="gridOptions"></div>
        </div>-->
        <!-- Table -->
        <table ng-table="customersList" class="table table-striped">
            <tr ng-repeat="user in $data">
                <td style="text-align: left" data-title="'#'">{{user.PK_cliente}}</td>
                <td data-title="'CPF/CNPJ'">{{user.CNPJ_CPF}}</td>
                <td data-title="'Nome'"><a href="#/customers/edit/{{user.PK_cliente}}">{{user.xNome}}</a></td>
                <td data-title="'Fantasia'">{{user.xFant}}</td>
                <td data-title="'Fantasia'">{{user.xEnder}}</td>
            </tr>
        </table>
    </div>
</div>